/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tonik-main .single-widget {
        margin-bottom: 0;
    }
    .single-widget {
        height: 150px;
        margin-bottom: 40px;
        padding-right: 0;
    }
    .single-widget a {
        line-height: 17px;
        padding-bottom: 0;
        font-size: 14px;
    }    .single-widget h3 {
        font-size: 18px;
    }
	.footer-bottom {
        padding: 15px 0;
    }
    .footer-social-icon {
        text-align: left;
    }
    .footer-widget-area {
        padding: 55px 0 20px;
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .internal-content-area {
        width: 450px;
        margin: 0 auto;
    }
	.tonik-main .footer-widget-area {
        padding: 55px 0;
    }
    .single-widget h3 {
        margin-bottom: 16px;
    }
	.footer-widget-area {
        width: 450px;
        margin: 0 auto;
        padding: 55px 0 0;
    }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .tonik-main-section-title h1 {
        font-size: 45px;
        line-height: 55px;
    }
    .tonik-main-cta-title h1 {
        font-size: 45px;
        line-height: 55px;
    }
	.tonik-main-footer-title h1 {
        font-size: 45px;
        line-height: 55px;
    }
	.tonik-main .single-widget.single-top-widget {
        padding-bottom: 0;
    }
	.single-widget {
        padding-bottom: 40px;
    }
    .single-tonik-project-wrap.col-md-4 {
        width: 100%;
    }
	.footer-bottom {
        padding: 15px 0;
        text-align: left;
	}
    .footer-social-icon {
        text-align: left;
    }
    .footer-social-icon.tonik-main-footer-social-icon a {
        height: 55px;
        line-height: 55px;
        width: 55px;
    }
}